{% extends 'layout.html.twig' %}

{% block title %}Uri Not Found{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        No object was found.
    </div>
</div>
{% endblock %}
