<div class="modal fade" id="updateFrameworkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Update Framework</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#excel" data-toggle="tab">Import Spreadsheet file</a></li>
                    
                </ul>
                </br>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="excel">
                        <input id="excel-url" type="file" class="form-control" accept=".xls,.xlsx,.json,.csv">
                        <br/>
                        <div class="alert alert-danger case-error-msg hidden" role="alert"></div>
                        <a type="button" class="btn btn-primary btn-import btn-import-excel" onclick="SaltLocal.handleExcelFile();">Import Framework</a>
                    </div>
                    <div class="tab-pane fade in" id="csv">
                        <div class="row">
                            <div class="col-xs-5">
                                <input id="file-for-update" type="file" class="form-control" accept=".csv">
                                <div class="alert alert-danger asn-error-msg hidden" role="alert"></div>
                                <br/>
                                <a href="#" class="btn btn-info btn--updater" data-update-action='derivative' data-toggle="tooltip" data-placement="bottom" title="which would copy with new identifiers and then make an exact match association">Derivative framework</a>
                                <a href="#" class="btn btn-primary btn--updater" data-update-action='update' data-toggle="tooltip" data-placement="bottom" title="Based on scanning by identifier, overwrite existing UUID's with the rest of the information that is probably changed, remove identifiers in the original document that don't exist in the new, and add identifiers that are new as well as RESCAN FOR Associations.">Update</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
