#competencyTree {
    .fancytree-folder {
        span.fancytree-icon {
            @extend .material-icons;
            background-image: none;
            // color: #626366;

            &::after {
                content: "account_balance";
                font-size: 18px;
            }
        }
    }

    .folder-version {
        span.fancytree-icon {
            @extend .material-icons;
            background-image: none;
            // color: #626366;

            &::after {
                content: "account_balance_wallet";
                font-size: 18px;
            }
        }
    }
}
