{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style>
    html {
        background: url({{ asset('assets/img/killer-salt.jpg') }}) no-repeat center center fixed;
        background-color: #fff;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    body {
        background-color: transparent;
    }
    div.attribution {
        background-color: #ddd;
        width: auto;
        border: #000 1px solid;
        padding: 2px;
        position: absolute;
        bottom: 45px;
        right: 15px;
        font-size: smaller;
    }
</style>
{% endblock %}

{% block body %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h1>Page not found</h1>
        </div>
        <div class="panel-body">
            <p>
                The requested page could not be located.<br />
            </p>

            <p>
                The page may have been delete or may have never existed.<br />
                Check the URL for misspellings
                or <a href="{{ path('lsdoc_index') }}">return to the document list</a>.
            </p>
        </div>
    </div>

    <div class="attribution">
        <a herf="https://www.flickr.com/photos/healthgauge/26137070965/">"Killer Salt"</a>
        by <a href="https://www.flickr.com/photos/healthgauge/">Heath Gauge</a>
        is licenced under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>
        / Desaturated from original
    </div>
{% endblock %}

{% block sitejavascripts %}{% endblock %}
{%- block navbar_right -%}{% endblock %}
