{% extends '::layout.html.twig' %}

{% block title %}About OpenSALT{% endblock %}

{% block body %}
    <h1>About OpenSALT</h1>

    <section>
        <p>
            OpenSALT is a tool that allows for managing (importing, creating, editing, exporting) competency frameworks,
            create crosswalks etc with <a href="http://www.imsglobal.org/case">IMS Global's Competency and Academic Standards Exchange (CASE)</a> specification.
        </p>
    </section>

    <section>
        <h2>Open Source</h2>
        <p>
            The source code for OpenSALT is available from GitHub at <a href="https://github.com/opensalt">https://github.com/opensalt</a>. For more information, see
            the <a href="http://www.opensalt.org">project page</a>; for the master instance of OpenSALT see <a href="http://www.opensalt.net">OpenSALT.net </a>
        </p>
    </section>

    <section>
        <h2>Collaborators</h2>
        <p>
            Multiple companies are collaborating on OpenSALT including:
            <ul>
                <li class="vcard"><a class="org fn url" href="http://www.publicconsultinggroup.com/education/">Public Consulting Group</a></li>
                <li class="vcard"><a class="org fn url" href="https://www.act.org/">ACT</a></li>
                <li class="vcard"><a class="org fn url" href="https://www.schoolcity.com/">SchoolCity Inc.</a></li>
            </ul>
        </p>
    </section>
    <section>
        <h2>Credits</h2>
        <p>
            <ul>
                <li class="vcard"><a class="url" href=https://github.com/jmarks><span class="fn">Joshua Marks</span> (<span class="org">PCG</span>)</a>: Project Director</li>
                <li class="vcard"><a class="url" href=https://github.com/roverwolf><span class="fn">David Ward</span> (<span class="org">PCG</span>)</a>: Lead Developer</li>
                <li class="vcard"><a class="url" href=https://github.com/brandonopened><span class="fn">Brandon Dorman</span> (<span class="org">ACT</span>)</a>: Scrum Master and Development Director</li>
                <li class="vcard"><a class="url" href=https://github.com/peppersc><span class="fn">Pepper Williams</span> (<span class="org">SchoolCity</span>)</a>: UI/UX and Front End Development Lead</li>
                <li>
                    <span class="vcard"><span class="fn">Greg Nadeau</span> (<span class="org">PCG</span>)</span>,
                    <span class="vcard"><span class="fn">Adam Blum</span> (<span class="org">ACT</span>)</span>
                    and
                    <span class="vcard"><span class="fn">Vaseem Anjum</span> (<span class="org">SchoolCity</span>)</span>
                    Executive Sponsors
                </li>
                <li><a href=http://www.koombea.com>Koombea Inc contracted by ACT</a>: Programmers <a href=https://github.com/JorgeLu1s>Jorge Mejia</a> and <a href=https://github.com/lmsilvera>Luis Silvera</a>. Program Manager Mario Tatis</li>
            </ul>
        </p>
    </section>

    <aside class="pull-right">
        <p class="text-muted">
            <small>OpenSALT {{ salt_version }}</small>
        </p>
    </aside>
{% endblock %}
