/* Markdown */
.CodeMirror, .CodeMirror-scroll {
    min-height: 150px;
}

.markdown-body {
  font-size: inherit;
  line-height: inherit;
}

/* Tooltips */
.tooltip {
  max-height: 300px;
  max-width: 300px;
  overflow: hidden;
}

#notifications-switch:focus {
    color: $body-bg;
}

.editor-toolbar button.table {
    width: unset;
}
