html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container--main {
    min-height: 100%;
    padding-bottom: 36px;
    position: relative;
    width: auto !important;
    max-width: 1500px;
}

.bg-body-brand-header {
    background-color:$brand-header;
}

header {
    .navbar-brand {
        padding:5px;
        background-color: var(--bs-white);
        border-radius:4px;
        margin:10px 15px 10px -5px !important;
        height:inherit;
        display: inline-block;

        img {
            height:60px;
        }
    }

    .dropdown-menu[data-bs-popper] {
        top: 75%;
        left: -130px;
    }
}

/* hack for IE11 to at least have the logo centred */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src*=".svg?"] {
        width: 100%;
    }
}

footer {
    bottom: 0;
    //height: 36px;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0 15px;

    .navbar-expand {
        border-radius:4px 4px 0 0;
        border-width: 0;
        min-height: auto;
        margin-bottom:0;
        background-color: $brand-header;

        a {
            color: var(--bs-white);
        }

        a:hover {
            text-decoration: none;
        }

        .navbar-text {
            color: var(--bs-white);
            margin-top: 8px;
            margin-bottom: 8px;
        }
    }

    .navbar-nav > li > a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}

.navbar-expand .navbar-nav > li > a, .navbar-expand .navbar-nav > li > a:hover {
    color: var(--bs-white);
}

label.required:before {
    content: '*';
    color: var(--bs-danger);
}

.card-component .card-body {
    max-height: 300px;
    overflow-y: auto;
}

.item-humanCodingScheme {
    font-weight: bold;
}

table.tree {
    td.shrink {
        white-space: nowrap;
    }
    td.expand {
        width: 99%;
    }
}

.list-group-item {
    word-wrap: break-word;
}

.modal-body.fields-body-framework {
    max-height: 400px;
    overflow-y: auto;
}

span.notification-url-indicator {
    float: right;
    margin-right: 15px;
    text-decoration: underline;
}

.si-sigma:before {
  content: "\03a3";
}

.form-inline-block {
    display: inline-block;
}

.status {
    .fa-star { // new
        color: var(--bs-primary);
    }
    .fa-check-circle { // okay
        color: var(--bs-success);
    }
    .fa-calendar-check-o { // scheduled
        color: var(--bs-primary);
    }
    .fa-refresh { // processing
        color: var(--bs-info);
    }
    .fa-exclamation-triangle, .fa-warning { // error
        color: var(--bs-danger);
    }
    .fa-minus-circle { // excluded
        color: var(--bs-gray-dark);
    }
}

table.mirror_log-table {
    .mirror_log-occurred {
        min-width: 150px;
    }
}

.btn-default {
    @extend .btn-outline-secondary;
    --bs-btn-color: #333;
    --bs-btn-border-color: #ccc;
    --bs-btn-bg: #fff;
}

.btn-primary.btn-default {
    @extend .btn-primary;
}

.card {
    margin-top: var(--bs-card-spacer-y);
    margin-bottom: var(--bs-card-spacer-y);
}


// Have modal window be larger
@media (min-width: 1440px) {
    .modal-xl {
        --bs-modal-width: 99%;
    }
}

// Adjustments for Bootstrap 5 styling on multiselect
.multiselect.dropdown-toggle {
    & .caret {
        margin-left: 5px;
    }

    &:after {
        border-top: 3px solid transparent;
    }
}

.multiselect-container {
    width: max-content;
}

.multiselect-container > li > a > label {
    padding: 3px 10px;
}

/*!
 * DataTables + Font Awesome integration
 * License: MIT - http://datatables.net/license
 */

/*
 * Sort styling
 */
table.dataTable thead th {
    position: relative;
    background-image: none !important; /* Remove the DataTables bootstrap integration styling */
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 12px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}

table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

div.dataTables_scrollBody table.dataTable thead th.sorting:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_asc:after,
div.dataTables_scrollBody table.dataTable thead th.sorting_desc:after {
    content: "";
}

/* In Bootstrap and Foundation the padding top is a little different from the DataTables stylesheet */
table.table thead th.sorting:after,
table.table thead th.sorting_asc:after,
table.table thead th.sorting_desc:after {
    top: 8px;
}
/*!
  End Datatables sort styling
 */

// Framework list styling
.framework-list {
    summary::before {
        //content: url(../icons/tdesign/institution-filled.svg) / "Creator";
        content: "";
        //display: inline-block;
        width: 1rem;
        height: 1rem;
        -webkit-mask: url(../icons/tdesign/institution-filled.svg);
        mask: url(../icons/tdesign/institution-filled.svg);
        background-color: rgba(var(--bs-primary-rgb));
        //-webkit-mask-size: cover;
        //mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        padding: 0 0.5em;
        margin: 0 0.25rem 0 0;
    }

    li {
        list-style-image: url(../icons/ph/graph-fill.svg);
    }
}

// Credential list styling
.credential-list {
    summary::before {
        //content: url(../icons/tdesign/institution-filled.svg) / "Creator";
        content: "";
        //display: inline-block;
        width: 1rem;
        height: 1rem;
        -webkit-mask: url(../icons/tdesign/institution-filled.svg);
        mask: url(../icons/tdesign/institution-filled.svg);
        background-color: rgba(var(--bs-primary-rgb));
        //-webkit-mask-size: cover;
        //mask-size: cover;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        padding: 0 0.5em;
        margin: 0 0.25rem 0 0;
    }

    li {
        list-style-image: url(../icons/ph/certificate.svg);
    }
}

// Remove drop-arrow from dropdown toggle in main menu
.dropdown-toggle[data-no-icon="true"] {
    --bs-btn-font-size: 1.5rem;

    &::after {
        border-top: 0;
    }
}

// Added for now, but should be removed soon
.text-right {
    @extend .text-end;
}


// Add hover effect (for issuer cards)
.hover\:secondary:hover {
    background-color: var(--bs-secondary-bg);
}
