COMPOSE_PROJECT_NAME=cftf

MYSQL_VERSION=8.0
MYSQL_ROOT_PASSWORD=cftf
MYSQL_DATABASE=cftf
MYSQL_USER=cftf
MYSQL_PASSWORD=cftf
#MYSQL_HOST=db
DB_USE_RDS_CERT=0

###> symfony/framework-bundle ###
APP_ENV=prod
APP_SECRET=17684f6df4f54ddd1499c70e094e6e58f
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost(:[0-9]+)?$
###< nelmio/cors-bundle ###

###> symfony/mercure-bundle ###
# See https://symfony.com/doc/current/mercure.html#configuration
MERCURE_PUBLISH_URL=http://web/.well-known/mercure
# The default token is signed with the secret key: !ChangeThisMercureHubJWTSecretKey!
MERCURE_JWT_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdfX0.a8cjcSRUAcHdnGNMKifA4BK5epRXxQI0UBp2XpNrBdw
#MERCURE_PUBLISHER_JWT_KEY=!ChangeThisMercureHubJWTSecretKey!
#MERCURE_SUBSCRIBER_JWT_KEY=!ChangeThisMercureHubJWTSecretKey!
###< symfony/mercure-bundle ###
