header .navbar-default {
    border-top:1px solid #444;
}

footer .navbar-default {
    border-radius:0;
    border-color: #000;
    border-width: 0 0 1px 0;
    min-height: auto;
    margin-top:30px;
    background-color:#fff;
}

footer .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

label.required:before {
    content: '*';
    color: red;
}

.panel-component .panel-body {
    max-height: 300px;
    overflow-y: auto;
}

.item-humanCodingScheme {
    font-weight: bold;
}

table.tree {
    td.shrink {
        white-space: nowrap;
    }
    td.expand {
        width: 99%;
    }
}

.list-group-item {
    word-wrap: break-word;
}
.wizard-body-framework .panel{
    margin-top: 7px;
    margin-bottom: 0px;
}
.wizard-body-framework .panel .panel-body{
    padding: 7px;
}
.wizard-body-framework .row .col-xs-6{
    padding-left: 7px;
    padding-right: 7px;
}
