html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container--main {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 36px;
    position: relative;;
}

header .navbar-default {
    border-width:0;
    background-color:#78C9E9;
}

.navbar-brand {
    padding:5px;
    background-color:#fff;
    border-radius:4px;
    margin:10px 15px 10px -5px !important;
    height:inherit;
}

.navbar-brand img {
    height:60px;
}

/* hack for IE11 to at least have the logo centred */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src*=".svg?"] {
        width: 100%;
    }
}

footer {
    bottom: 0;
    height: 36px;
    left: 0;
    position: absolute;
    width: 100%
}

footer .navbar-default {
    border-radius:4px 4px 0 0;
    border-width: 0;
    min-height: auto;
    margin-bottom:0px;
    background-color:#78C9E9;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color:#fff;
}

footer .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

label.required:before {
    content: '*';
    color: red;
}

.panel-component .panel-body {
    max-height: 300px;
    overflow-y: auto;
}

.item-humanCodingScheme {
    font-weight: bold;
}

table.tree {
    td.shrink {
        white-space: nowrap;
    }
    td.expand {
        width: 99%;
    }
}

.list-group-item {
    word-wrap: break-word;
}

.modal-body.fields-body-framework {
    max-height: 400px;
    overflow-y: auto;
}

span.notification-url-indicator {
    float: right;
    margin-right: 15px;
    text-decoration: underline;
}
