header .navbar-default {
    border-width:0px;
    background-color:#78C9E9;
}

.navbar-brand {
    padding:5px;
    background-color:#fff;
    border-radius:4px;
    margin:10px 15px 10px -5px !important;
    height:inherit;
}

.navbar-brand:hover {
    background-color:#fff !important;
}

.navbar-brand img {
    height:60px;
}

footer .navbar-default {
    border-radius:4px 4px 0 0;
    border-width: 0;
    min-height: auto;
    margin-top:30px;
    background-color:#78C9E9;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color:#fff;
}

footer .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.breadcrumb {
    background-color:#E6793A;
    color:#fff;
}

.breadcrumb > li {
    display:inline;
}

.breadcrumb > li + li:before {
    color:#78C9E9;
}

.breadcrumb a, .breadcrumb a:hover {
    color:#fff;
}

label.required:before {
    content: '*';
    color: red;
}

.panel-component .panel-body {
    max-height: 300px;
    overflow-y: auto;
}

.item-humanCodingScheme {
    font-weight: bold;
}

table.tree {
    td.shrink {
        white-space: nowrap;
    }
    td.expand {
        width: 99%;
    }
}

.list-group-item {
    word-wrap: break-word;
}
.wizard-body-framework .panel{
    margin-top: 7px;
    margin-bottom: 0px;
}
.wizard-body-framework .panel .panel-body{
    padding: 7px;
}
.wizard-body-framework .row .col-xs-6{
    padding-left: 7px;
    padding-right: 7px;
}
