<div>
    <div class="errors"></div>
    <p>Add an exemplar for <b id="addExemplarOriginTitle"></b>:</p>
    <div class="form-horizontal">

      <div class="form-group">
        <div class="col-sm-3 text-right">
          <input class="control-label" type="radio" id="exemplar-url-radio" name="exemplar-toggle" checked />
          <label class="control-label">Exemplar URL:</label>
        </div>
        <div class="col-sm-9">
          <input id="addExemplarFormUrl" type="text" maxlength="300" class="form-control" placeholder="http://example.com/exemplar">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-3 text-right">
          <input class="control-label" type="radio" id="exemplar-file-radio" name="exemplar-toggle" />
          <label class="control-label">Upload File:</label>
        </div>
        <div class="col-sm-9">
          <input id="addExemplarFormFile" type="file" maxlength="300" class="form-control" placeholder="">
        </div>
      </div>

    </div>
</div>
