<div id="wizard" class="modal bs-example-modal-lg fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Import Framework</h4>
            </div>
            <div class="modal-body fields-body-framework">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#case" data-toggle="tab">Import CASE® file</a></li>
                        </ul>
                        <br>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="case">
                                <input id="file-url" type="file" class="form-control">
                                <br/>
                                <div class="alert alert-danger case-error-msg hidden" role="alert"></div>
                                <a type="button" class="btn btn-primary btn-import btn-import-case" onclick="SaltLocal.handleFile('case', 'file-url');">Import Framework</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="file-loading hidden">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
