<div>
    <p>Enter the CASE® URL for the document you’d like to load:</p>

    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-1 control-label" for="loadExternalDocumentUrl">URL:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="loadExternalDocumentUrlInput" name="loadExternalDocumentUrlInput" value="" />
            </div>
        </div>
    </div>

    <p style="margin-top:25px"><b>Example:</b> To load the Mathematics: Georgia Standards of Excellent standards from Georgia's OpenSALT™ server, you can use the following url:</p>
    <ul>
        <li>https://case.georgiastandards.org/ims/case/v1p0/CFPackages/23a8e45a-9d5a-11e7-81bc-064e21a83c7c</li>
    </ul>

    Thus the format to use is: http://[CASE server]/ims/case/v1p0/CFPackages/[framework identifier]
</div>
