COMPOSE_PROJECT_NAME=cftf
PORT=3000

MYSQL_VERSION=5.7
MYSQL_ROOT_PASSWORD=cftf
MYSQL_DATABASE=cftf
MYSQL_USER=cftf
MYSQL_PASSWORD=cftf
#MYSQL_HOST=db
DB_USE_RDS_CERT=0

APP_SECRET=ThisTokenIsNotSoSecretSoChangeIt
COOKIE_SECRET=ThisTokenIsNotSoSecretChangeIt

#MAILER_TRANSPORT=smtp
#MAILER_HOST=127.0.0.1
#MAILER_USER=
#MAILER_PASSWORD=
#MAILER_AUTH_MODE=
#MAILER_PORT=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

BRAND_LOGO_URL=
BRAND_LOGO_STYLE=
BRAND_LINK_URL=
BRAND_LINK_STYLE=

ALLOW_EXTERNAL_DEV_IPS=
DEV_COOKIE=

COMMENTS_FEATURE=inactive
COMMENT_ATTACHMENTS=inactive
CREATE_ACCOUNT_FEATURE=inactive

USE_MAIL_FEATURE=inactive
MAIL_FEATURE_FROM_EMAIL=send@example.com

#FIREBASE_API_KEY=
#FIREBASE_AUTH_DOMAIN=
#FIREBASE_DB_URL=
#FIREBASE_PROJECT_ID=
#FIREBASE_CLIENT_ID=
#FIREBASE_CLIENT_EMAIL=
#FIREBASE_PRIVATE_KEY=
#FIREBASE_PREFIX=opensalt

#GOOGLE_CAPTCHA_SITE_KEY=
#GOOGLE_CAPTCHA_SECRET_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_PREFIX=
AWS_S3_BUCKET=
ATTACHMENT_URL_PREFIX=
BUCKET_PROVIDER=
LOCAL_FILESYSTEM_PATH=
