**/*.log
**/*.md
**/*.php~
**/._*
**/.*.sw?
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.editorconfig
.env.*.local
.env.local
.env.local.php
.php_cs.cache
build/
docker/data/
docker/db/data/
helm/
node_modules/
public/build/
public/bundles/
tmp/
var/
vendor/
