/build/*
/phpspec.yml
/phpcs.xml
/codeception.yml
/makefile
/yarn-error.log
/tests/*.suite.yml
/tests/_envs/*.yml
!/tests/_envs/*.dist.yml

/public/bundles/*
!public/bundles/.gitkeep

# Docker
/docker/data/*
!docker/data/.gitignore

# Builds
/public/build/*

# Added by npm
/node_modules/*

#Temporary files
.*.sw?
~*
*~
tmp
*,bak*

# OS specific temporary files
.DS_Store*
.AppleDouble
ehthumbs.db
Thumbs.db

# IDEs
.buildpath
.idea
.project
.settings
.vscode
*.esproj
*.komodoproject
*.komodotools
nbproject

# Tools
.sass-cache
/lsp/*
/.scannerwork/*

pw-archive/

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/framework-bundle ###
/.symfony.env
/.symfony.env.local
/.symfony.env.local.php
/.symfony.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
!/var/cache
/var/cache/*
!/var/cache/.gitkeep
!/var/logs
/var/logs/*
!/var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!/var/sessions/.gitkeep
!/var/SymfonyRequirements.php
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
