includes:
	- './tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon'
	- './tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon'
	- './tools/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon'
	- './tools/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon'
	- phpstan-baseline.neon

parameters:
	#customRulesetUsed: true
	bootstrapFiles:
		- './vendor/autoload.php'
	level: 6
	reportUnmatchedIgnoredErrors: false
	paths:
		- './src'
	symfony:
		container_xml_path: './var/cache/dev/App_KernelDevDebugContainer.xml'
	doctrine:
		objectManagerLoader: './tests/object-manager.php'
		allowNullablePropertyForRequiredField: true

	treatPhpDocTypesAsCertain: false
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false

	ignoreErrors:
		- "#Property .* type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
		- "#Property .* type mapping mismatch\\: database can contain string.* but property expects int\\|null\\.$#"
		- "#Parameter .* of attribute class .*Entity constructor expects class-string.*EntityRepository.* .*Repository. given\\.$#"
