{% extends "::layout.html.twig" %}

{% block stylesheets %}
{{ parent() }}
{% block al_swagger_ui_stylesheets %}{% endblock %}
{% endblock %}

{% block sitejavascripts %}
{% endblock %}

{% block javascripts %}
{% block al_swagger_ui_javascripts %}{% endblock %}
{% endblock %}

{% block body %}
<div class="swagger-section">
{% block al_swagger_ui_content %}{% endblock %}
</div>
{% endblock %}
