{% extends '::layout.html.twig' %}

{% block body %}
    {% if not app.request.xmlHttpRequest %}
        <h1 class="title">Item Is Locked</h1>
    {% endif %}

    <div>Sorry, the item you are trying to edit is currently locked by another user.</div>

    {% if not app.request.xmlHttpRequest %}
        <br/>
        <ul class="list-inline text-right">
            <li>
                <a class="btn btn-default" href="{{ path('lsitem_index') }}">Back to list</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
