{% extends 'base.html.twig' %}

{% block body %}
    <h1>LsDoc creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
    {{ form_end(form) }}

    <br/>
    <ul class="list-inline">
        <li>
            <a class="btn btn-default" href="{{ path('lsdoc_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#ls_doc_subjects').select2entity();
        });
    </script>
{% endblock %}
