{% extends 'layout.html.twig' %}

{% block title %}Uri Not Found{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="{{ path('lsdoc_index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="sr-only">Home</span></a></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        Could not find the Uri: {{ uri }}
    </div>
</div>
{% endblock %}
