<li>
    <a href="{{ lsItem.uri|local_uri }}" name="mark-{{ lsItem.id }}" class="lsItem text-muted">
        {%- if lsItem.humanCodingScheme is not empty %}<span class="item-humanCodingScheme">{{ lsItem.humanCodingScheme }}</span> {% endif -%}
        {% if lsItem.fullStatement != lsItem.humanCodingScheme %}{{ lsItem.fullStatement -}}{% endif -%}
    </a>
    <ul>
    {% for childWithId in lsItem.children %}
        {% set child = items[childWithId.id] %}
        {% include 'CftfBundle:Editor:render_child.html.twig' with { 'lsItem':child, 'lsDoc':lsDoc, 'items':items, 'highlight':highlight} %}
    {% endfor %}
    </ul>
</li>
