{% extends '::layout.html.twig' %}

{% block title %}{{ lsDoc1.title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="{{ path('lsdoc_index') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span><span class="sr-only">Home</span></a></li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <input type="text" class="form-control" id="filterOnTree" placeholder="Filter">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div id="tree1"></div>
                </div>
            </section>
        </div>
        <div class="col-sm-6">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div id="tree2"></div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.app = window.app||{};
        var tree1 = {{ render_esi(path('editor_render_document_only', {'id':lsDoc1.id, '_format':'json'})) }};
        var tree2 = {{ render_esi(path('editor_render_document_only', {'id':lsDoc2.id, '_format':'json'})) }};
        function initFilter(){
            var inputSelector = "#filterOnTree";
            var tree1 = $('#tree1').fancytree('getTree');
            var tree2 = $('#tree2').fancytree('getTree');

            [tree1, tree2].forEach(function(tree){
                $(inputSelector).on('keyup', function(){
                    if( $(this).val().trim().length > 0 ){
                        tree.filterNodes($(this).val(), {autoExpand: true, leavesOnly: false});
                    }else{
                        tree.clearFilter();
                    }
                });
            });
        }

        $(function(){
            $('#tree1').fancytree({
                extensions: ['filter','dnd'],
                source: tree1,
                quicksearch: true,
                filter:{
                    autoApply: true,
                    counter: true,
                    fuzzy: false,
                    hideExpandedCounter: true,
                    highlight: true,
                    mode: "hide"
                },
                dnd: {
                    focusOnClick: true,
                    dragStart: function(node, data){},
                    dragStop: function(node, data){},
                    initHelper: function(){},
                    updateHelper: function(){},

                    dragEnter: function(node, data){ return true; },
                    dragDrop: function(node, data){ data.otherNode.moveTo(node, data.hitMode); }
                },
                debugLevel:2
            });

            $('#tree2').fancytree({
                extensions: ['filter', 'dnd'],
                source: tree2,
                quicksearch: true,
                filter:{
                    autoApply: true,
                    counter: true,
                    fuzzy: false,
                    hideExpandedCounter: true,
                    highlight: true,
                    mode: "hide"
                },
                dnd: {
                    focusOnClick: true,
                    dragStart: function(node, data){},
                    dragStop: function(node, data){},
                    initHelper: function(){},
                    updateHelper: function(){},

                    dragEnter: function(node, data){ return true; },
                    dragDrop: function(node, data){ data.otherNode.moveTo(node, data.hitMode); }
                },
                debugLevel:2
            });
            initFilter();
        });
    </script>
{% endblock %}
