<div id="addChildrenModal" class="modal bs-example-modal-lg fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Import Items</h4>
            </div>
            <div class="modal-body fields-body-framework">
                <h6>Questions about fields? <a href="#">see this guide</a></h6>
                <div id="import-div">
                    <div class="row">
                        <div class="col-md-12">
                            Local:
                            <input name="import" type="radio" value="local" />
                            {% if github_client_id is not empty %}
                                - Github:
                                <input name="import" type="radio" value="github" />
                            {% endif %}
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="github" class="hidden">
                                <div class="panel panel-default">
                                    <div class= "panel-heading panel-title">
                                        Repositories list
                                    </div>
                                    <div class="panel-body js-github-list">
                                        <div id="repos" class="hidden"></div>
                                        <div id="files" class="hidden"></div>
                                        <p class="js-github-message-error" style="display: none;">
                                            <a href="{{ path('github_login') }}">Login with your GitHub credentials</a>
                                        </p>
                                        <p class="js-github-message-loading">Loading...</p>
                                    </div>
                                    <div class="panel-footer">
                                        <a href="#" onclick="listRepositories();" class="repositories-list hidden">List Repositories</a>
                                        <a href="#" onclick="SaltGithub.getFiles(event, false);" class="back hidden"> - Go Back</a>
                                        <div id="pagination"></div>
                                    </div>
                                </div>
                            </div>
                            <div id="local" class="hidden">
                                <input id="file-url" type="file" class="form-control">
                                <br/>
                                <div class="alert alert-danger asn-error-msg hidden" role="alert"></div>
                                <a href="#" class="btn btn-primary" onclick="SaltLocal.handleFile();">Import Framework</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="errors hidden">
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure the columns are there and labeled correctly
                    </div>
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure the trees are parsed correctly (pre-load and check)
                    </div>
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure a tree exists (might not need to be 'is child of', but can parse
                        the human coding scheme)
                    </div>
                    <div class="alert alert-warning hidden" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        Make sure each row can be loaded as an item and association
                    </div>
                </div>
                <div class="missing-fields"></div>
                <div class="file-loading hidden">
                    <div class="row">
                        <div class="col-md-12"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <input type="hidden" id="lsDocId" value="{{ lsDocId }}">
</div>
