<button type="button" class="btn btn-info" data-toggle="modal" data-target="#fields">Open Modal</button>

<div id="fields" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Match Fields</h4>
            </div>
            <div class="modal-body dropdowns"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary send-info">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
