<div id="wizard" class="modal bs-example-modal-lg fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Import Items from ASN</h4>
            </div>
            <div class="modal-body fields-body-framework">
                <div id="import-div">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="asn">
                                <input id="asn-url" placeholder="ASN url" type="text" class="form-control">
                                <br/>
                                <div class="alert alert-danger asn-error-msg hidden" role="alert"></div>
                                <button type="button" class="btn btn-primary import-framework">Import Framework</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
