{% extends '::layout.html.twig' %}

{% block title %}About OpenSALT{% endblock %}

{% block body %}
    <h1>About OpenSALT</h1>

    <section>
        <p>
            OpenSALT is a tool that allows for managing (importing, creating, editing, exporting) competency frameworks,
            focused on IMS Global's Competency and Academic Standards Exchange (CASE) specification.
        </p>
    </section>

    <section>
        <h2>Open Source</h2>
        <p>
            The source code for OpenSALT is available from GitHub at <a href="https://github.com/opensalt">https://github.com/opensalt</a>.
        </p>
    </section>

    <section>
        <h2>Collaborators</h2>
        <p>
            Multiple companies are collaborating on OpenSALT including:
            <ul>
                <li><a href="http://www.publicconsultinggroup.com/education/">Public Consulting Group</a></li>
                <li><a href="https://www.opened.com/">OpenEd</a></li>
                <li><a href="https://www.schoolcity.com/">SchoolCity Inc.</a></li>
            </ul>
        </p>
    </section>
    <section>
    <h2>Credits</h2>
    <p>
    <ul>
<li>David Ward: Lead Developer</li>
<li>Brandon Dorman: Scrum Master and Development Director</li>
<li>Pepper Williams: UI/UX  and Front End Development Lead</li>
<li>Greg Neadeau, Adam Blum and Vaseem Anjum Executive Sponsors</li>
<li><a href=http://www.koombea.com>Koombea Inc contracted by OpenEd</a>: Programmers Jorge Mejia and Luis Silvera. Program Manager Mario Tatis </li>
</ul>
</p>
</section>

    <aside class="pull-right">
        <p class="text-muted">
            <small>OpenSALT {{ salt_version }}</small>
        </p>
    </aside>
{% endblock %}
