{% extends 'layout.html.twig' %}

{% block title %}
    {{ obj.abbreviatedStatement|default('Credential') }}
{% endblock %}

{% block styles %}
    <style>
        .tree {
            --spacing: 2.5rem;
            --radius: 10px;
        }
        .tree li {
            display: block;
            position: relative;
            padding-left: calc(2 * var(--spacing) - 2px);
            padding-top: 5px;
        }
        .tree ul {
            margin-left: calc(var(--radius) - var(--spacing));
            padding-left: 0;
        }
        .tree label {
            display: inline;
            font-weight: normal;
        }
    </style>
{% endblock %}

{% block body %}
<div class="credential-page">
    {% if criteria is not empty %}
        <ul class="tree">
            {% for criterion in criteria %}
                {{ include('credential/_criterion.html.twig', {criterion: criterion, checked: checked, itemRepo: itemRepo, associationRepo: associationRepo}) }}
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
